/*------------------------------------------*/
/*       Importing the 'Poppins' font       */
/*------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------------------------*/
/*           Universal configuration        */
/*------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*------------------------------------------*/
/*           tag body configuration         */
/*------------------------------------------*/

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column; 
    font-family: Poppins;
    font-size: 24px;
}

/*------------------------------------------*/
/*          tag Header configuration        */
/*------------------------------------------*/

header {
    width: 100%;
    height: 65px; 
    background-color: #1E1E1E;
    display: flex; /*cria um flex container*/
    align-items: center; /*centraliza os flex itens em relação ao main axis do pai*/
    gap: 11px; /*distancia entre o h1 e a logo*/
    padding-left: 200px; /*Cria um espaço entre os flex itens e a borda esquerda*/   
}

/*-------------------------------------------*/
/*   "Agencia batatinha (h1) configuration   */
/*-------------------------------------------*/

header h1 {
    font-family: Poppins;
    font-size: 22px;
    color: #FFFFFF;
}

/*-------------------------------------------*/
/*            Main connfiguration            */
/*-------------------------------------------*/

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

main img{
    width: 40%;
    height: 85%;
}
/*-------------------------------------------*/
/*        error_alert connfiguration         */
/*-------------------------------------------*/

#error_alert{
    width: 490px;
    height: 320px;
    padding-left: 1rem;
    margin-left: 5rem;
}

/*----------------------------------------------------------------------------------*/
/*   "Oops..." and "Estamos trabalhando, em breve retorne aqui."  connfiguration    */
/*----------------------------------------------------------------------------------*/

#message1{
    font-size: 30px;
    color: #FE8100;
}

#message2{
    font-size: 13px;
    color: #848383;
}

/*-------------------------------------------*/
/*      button "Voltar" configuration        */
/*-------------------------------------------*/

#button_voltar{
    background-color: #FE8100;
    font-family: Poppins;
    border-radius: 20px;
    border: 1px solid #D8D8D8;
    height: 43px;
    width: 18rem;
    margin-top: 2rem;
    align-items: center;
    color: #FFFFFF;   
}

/*-------------------------------------------*/
/*           footer configuration            */
/*-------------------------------------------*/

footer {
    width: 100%;
    height: 65px; 
    display: flex; 
    align-items: center; 
    gap: 11px; 
    padding-left: 6rem;   
}

footer ol{
    margin-left: 5rem;
    display: flexbox;
}